.WaterVolumeContainer {
	grid-column: 2;
	grid-row:2;
	display: grid;
	grid-template-rows: 5px 1fr 1fr;
}

.WaterVolumeProgress {
	grid-column: 1;
	grid-row:1;
	display: flex;
}
.WaterVolumeChannelAndIncome {
	grid-column: 1;
	grid-row:1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.WaterVolumeChannelAndCustomerType {
	grid-column: 1;
	grid-row:3;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.WaterVolumeChannelAndLabels {
	grid-column: 1;
	grid-row:2;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.WaterVolumeChannel {
	grid-column: 2;
	grid-row:1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.WaterVolumeLabels {
	grid-column: 1;
	grid-row:1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.WaterVolumeLabel1 {
	grid-column: 1;
	grid-row:1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.WaterVolumeLabel2 {
	grid-column: 2;
	grid-row:1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.WaterVolumeLabel3 {
	grid-column: 1;
	grid-row:2;
	display: flex;
	align-items: center;
	justify-content: center;
}
.WaterVolumeLabel4 {
	grid-column: 2;
	grid-row:2;
	display: flex;
	align-items: center;
	justify-content: center;
}

.WaterVolumeCustomerType {
	grid-column: 2;
	grid-row:1;
	display: flex;
	align-items: center;
	justify-content: center;
}


.SemaServiceError {
	height: 100px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
